USE [LabMedicoDB4]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Analisis]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analisis](
	[AnalisisId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](1000) NOT NULL,
	[Requisitos] [nvarchar](max) NOT NULL,
	[Estatus] [nvarchar](3) NOT NULL,
	[EstudioId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Analisis] PRIMARY KEY CLUSTERED 
(
	[AnalisisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AnalisisSucursales]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalisisSucursales](
	[AnalisisSucursalId] [int] IDENTITY(1,1) NOT NULL,
	[SucursalId] [int] NOT NULL,
	[AnalisisId] [int] NOT NULL,
	[Costo] [decimal](18, 2) NOT NULL,
	[Estatus] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_dbo.AnalisisSucursales] PRIMARY KEY CLUSTERED 
(
	[AnalisisSucursalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[ApellidoPaterno] [nvarchar](max) NULL,
	[ApellidoMaterno] [nvarchar](max) NULL,
	[Calle] [nvarchar](max) NULL,
	[NumeroInterior] [int] NULL,
	[NumeroExterior] [int] NULL,
	[Colonia] [nvarchar](max) NULL,
	[DelegacionMunicipio] [nvarchar](max) NULL,
	[CodigoPostal] [int] NULL,
	[Estado] [nvarchar](max) NULL,
	[Edad] [int] NULL,
	[Sexo] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
	[SucursalId] [int] NULL,
	[Estatus] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Citas]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[CitaId] [int] IDENTITY(1,1) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaEntrega] [datetime] NOT NULL,
	[FechaAplicacion] [datetime] NOT NULL,
	[HoraAplicacion] [nvarchar](max) NOT NULL,
	[Id] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[AnalisisId] [int] NOT NULL,
	[Estatus] [nvarchar](3) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Tecnico_TecnicoId] [int] NULL,
 CONSTRAINT [PK_dbo.Citas] PRIMARY KEY CLUSTERED 
(
	[CitaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[ApellidoPaterno] [nvarchar](100) NOT NULL,
	[ApellidoMaterno] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](100) NOT NULL,
	[Celular] [nvarchar](100) NOT NULL,
	[Calle] [nvarchar](100) NOT NULL,
	[NumeroInterior] [int] NOT NULL,
	[NumeroExterior] [int] NOT NULL,
	[Colonia] [nvarchar](100) NOT NULL,
	[DelegacionMunicipio] [nvarchar](100) NOT NULL,
	[CodigoPostal] [int] NOT NULL,
	[Sexo] [nvarchar](1) NOT NULL,
	[Peso] [decimal](18, 2) NOT NULL,
	[Edad] [int] NOT NULL,
	[Estatus] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_dbo.Clientes] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estudios]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudios](
	[EstudioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[Estatus] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_dbo.Estudios] PRIMARY KEY CLUSTERED 
(
	[EstudioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Historicos]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historicos](
	[HistoricoId] [int] IDENTITY(1,1) NOT NULL,
	[CitaId] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Historicos] PRIMARY KEY CLUSTERED 
(
	[HistoricoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[SucursalId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Calle] [nvarchar](100) NOT NULL,
	[NumeroInterior] [int] NOT NULL,
	[NumeroExterior] [int] NOT NULL,
	[Colonia] [nvarchar](100) NOT NULL,
	[DelegacionMunicipio] [nvarchar](100) NOT NULL,
	[CodigoPostal] [int] NOT NULL,
	[Telefono] [nvarchar](100) NOT NULL,
	[Horario] [nvarchar](100) NOT NULL,
	[Estatus] [nvarchar](3) NOT NULL,
	[ZonaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sucursales] PRIMARY KEY CLUSTERED 
(
	[SucursalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TecnicoCitas]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TecnicoCitas](
	[TecnicoCitasId] [int] IDENTITY(1,1) NOT NULL,
	[TecnicoId] [int] NOT NULL,
	[CitaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TecnicoCitas] PRIMARY KEY CLUSTERED 
(
	[TecnicoCitasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tecnicos]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnicos](
	[TecnicoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[ApellidoPaterno] [nvarchar](100) NOT NULL,
	[ApellidoMaterno] [nvarchar](100) NOT NULL,
	[Calle] [nvarchar](100) NOT NULL,
	[NumeroInterior] [int] NOT NULL,
	[NumeroExterior] [int] NOT NULL,
	[Colonia] [nvarchar](100) NOT NULL,
	[DelegacionMunicipio] [nvarchar](100) NOT NULL,
	[CodigoPostal] [int] NOT NULL,
	[Estado] [nvarchar](100) NOT NULL,
	[Edad] [int] NOT NULL,
	[Sexo] [nvarchar](1) NOT NULL,
	[Notas] [nvarchar](max) NULL,
	[Estatus] [nvarchar](3) NOT NULL,
	[SucursalId] [int] NOT NULL,
	[EstudioId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tecnicos] PRIMARY KEY CLUSTERED 
(
	[TecnicoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Zonas]    Script Date: 02/12/2016 08:46:02 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zonas](
	[ZonaId] [int] IDENTITY(1,1) NOT NULL,
	[ZonaNombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_dbo.Zonas] PRIMARY KEY CLUSTERED 
(
	[ZonaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Analisis] ON 

INSERT [dbo].[Analisis] ([AnalisisId], [Nombre], [Descripcion], [Requisitos], [Estatus], [EstudioId]) VALUES (1, N'Logoaudiometria', N'Prueba en la que se utilizan palabras para determinar la funcionalidad del sistema auditivo. ', N'- El paciente no debe tener cuadro de Infección de vías respiratorias superiores.
- Otitis media aguda durante la realización de la prueba, ya que puede alterar el resultado del estudio.', N'Act', 1)
INSERT [dbo].[Analisis] ([AnalisisId], [Nombre], [Descripcion], [Requisitos], [Estatus], [EstudioId]) VALUES (3, N'Electrocardiograma en esfuerzo', N'Electrocardiograma en esfuerzo', N'El paciente deberá ir en ayuno de 3 a 4 hrs., la ingesta de agua natural es libre de horario.
El paciente no deberá fumar al menos 3 horas previas al estudio.
El paciente no deberá realizar actividad física intensa 12 horas previas al estudio.
El paciente deberá acudir al estudio aseado (baño diario) y sin colocación de cremas corporales.', N'Act', 2)
SET IDENTITY_INSERT [dbo].[Analisis] OFF
SET IDENTITY_INSERT [dbo].[AnalisisSucursales] ON 

INSERT [dbo].[AnalisisSucursales] ([AnalisisSucursalId], [SucursalId], [AnalisisId], [Costo], [Estatus]) VALUES (1, 1, 1, CAST(150.00 AS Decimal(18, 2)), N'Act')
INSERT [dbo].[AnalisisSucursales] ([AnalisisSucursalId], [SucursalId], [AnalisisId], [Costo], [Estatus]) VALUES (3, 1, 2, CAST(200.00 AS Decimal(18, 2)), N'Act')
INSERT [dbo].[AnalisisSucursales] ([AnalisisSucursalId], [SucursalId], [AnalisisId], [Costo], [Estatus]) VALUES (4, 2, 3, CAST(500.00 AS Decimal(18, 2)), N'Act')
SET IDENTITY_INSERT [dbo].[AnalisisSucursales] OFF
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (1, N'Administrador')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (2, N'Recepcionista')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Telefono], [Celular], [Calle], [NumeroInterior], [NumeroExterior], [Colonia], [DelegacionMunicipio], [CodigoPostal], [Sexo], [Peso], [Edad], [Estatus]) VALUES (14, N'Bryar', N'Glenna', N'Lysandra', N'0169715578', N'14071451296', N'9594838 Ac Road', 0, 1, N'L', N'Dublin', 47337, N'S', CAST(117.00 AS Decimal(18, 2)), 23, N'Act')
INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Telefono], [Celular], [Calle], [NumeroInterior], [NumeroExterior], [Colonia], [DelegacionMunicipio], [CodigoPostal], [Sexo], [Peso], [Edad], [Estatus]) VALUES (15, N'Cyrus', N'Katelyn', N'Teegan', N'0531617584', N'18127253285', N'3637166 Fringilla, Av.', 0, 1, N'Bremen', N'Bremen', 451611, N'S', CAST(97.00 AS Decimal(18, 2)), 20, N'Act')
INSERT [dbo].[Clientes] ([ClienteId], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Telefono], [Celular], [Calle], [NumeroInterior], [NumeroExterior], [Colonia], [DelegacionMunicipio], [CodigoPostal], [Sexo], [Peso], [Edad], [Estatus]) VALUES (16, N'Amena', N'Lara', N'Hollee', N'0109865074', N'17677809762', N'P.O. Box 905, 936 Enim. Avenue', 0, 1, N'BD', N'Dunstable', 99553, N'S', CAST(115.00 AS Decimal(18, 2)), 42, N'Act')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Estudios] ON 

INSERT [dbo].[Estudios] ([EstudioId], [Nombre], [Descripcion], [Estatus]) VALUES (1, N'Audiometría', N'Medida de la sensibilidad de los órganos del oído en las diferentes frecuencias del sonido', N'Act')
INSERT [dbo].[Estudios] ([EstudioId], [Nombre], [Descripcion], [Estatus]) VALUES (2, N'Cardiología', N'Parte de la medicina que se ocupa de la anatomía, la fisiología y las enfermedades del corazón.', N'Act')
INSERT [dbo].[Estudios] ([EstudioId], [Nombre], [Descripcion], [Estatus]) VALUES (3, N'Colposcopia', N'Exploración o examen visual del conducto vaginal y del cuello del útero mediante un aparato óptico que amplifica las imágenes.', N'Act')
SET IDENTITY_INSERT [dbo].[Estudios] OFF
SET IDENTITY_INSERT [dbo].[Sucursales] ON 

INSERT [dbo].[Sucursales] ([SucursalId], [Nombre], [Calle], [NumeroInterior], [NumeroExterior], [Colonia], [DelegacionMunicipio], [CodigoPostal], [Telefono], [Horario], [Estatus], [ZonaId]) VALUES (1, N'Agrícola Oriental', N'Av. Javier Rojo Gómez', 0, 382, N'Agrícola Oriental', N'Iztacalco', 8500, N' 22357915', N'07-18', N'Act', 2)
INSERT [dbo].[Sucursales] ([SucursalId], [Nombre], [Calle], [NumeroInterior], [NumeroExterior], [Colonia], [DelegacionMunicipio], [CodigoPostal], [Telefono], [Horario], [Estatus], [ZonaId]) VALUES (2, N'Alamedas Atizapan', N'Multiplaza Alamedas', 14, 15, N' Frac. las Alamedas', N'Atizapán de Zaragoza', 52970, N'58253738', N'07-15', N'Act', 1)
INSERT [dbo].[Sucursales] ([SucursalId], [Nombre], [Calle], [NumeroInterior], [NumeroExterior], [Colonia], [DelegacionMunicipio], [CodigoPostal], [Telefono], [Horario], [Estatus], [ZonaId]) VALUES (3, N'Alce Blanco', N'Avenida Gustavo Baz', 0, 100, N'Alce Blanco', N'Naucalpan', 53370, N'5553601042', N'07-15', N'Act', 1)
SET IDENTITY_INSERT [dbo].[Sucursales] OFF
SET IDENTITY_INSERT [dbo].[Tecnicos] ON 

INSERT [dbo].[Tecnicos] ([TecnicoId], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Calle], [NumeroInterior], [NumeroExterior], [Colonia], [DelegacionMunicipio], [CodigoPostal], [Estado], [Edad], [Sexo], [Notas], [Estatus], [SucursalId], [EstudioId]) VALUES (2, N'Rowan', N'Colton', N'Myra', N'Ap #9029503 Velit. Road', 0, 1, N'Minnesota', N'Saint Paul', 45135106, N'Wallis and Futuna', 48, N'S', N'bibendum ullamcorper. Duis cursus, diam at pretium aliquet, metus urna', N'Act', 9, 7)
INSERT [dbo].[Tecnicos] ([TecnicoId], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Calle], [NumeroInterior], [NumeroExterior], [Colonia], [DelegacionMunicipio], [CodigoPostal], [Estado], [Edad], [Sexo], [Notas], [Estatus], [SucursalId], [EstudioId]) VALUES (3, N'Hedley', N'Baker', N'Dorian', N'6556 Vitae, Rd.', 0, 1, N'NSW', N'Liverpool', 62007, N'Seychelles', 20, N'S', N'ridiculus mus. Donec dignissim magna a tortor. Nunc commodo auctor', N'Act', 4, 3)
INSERT [dbo].[Tecnicos] ([TecnicoId], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Calle], [NumeroInterior], [NumeroExterior], [Colonia], [DelegacionMunicipio], [CodigoPostal], [Estado], [Edad], [Sexo], [Notas], [Estatus], [SucursalId], [EstudioId]) VALUES (4, N'Prescott', N'Nash', N'Jayme', N'9761 Neque St.', 0, 1, N'CE', N'Dreux', 1547, N'Iraq', 35, N'S', N'et, lacinia vitae, sodales at, velit. Pellentesque ultricies dignissim lacus.', N'Act', 7, 9)
SET IDENTITY_INSERT [dbo].[Tecnicos] OFF
SET IDENTITY_INSERT [dbo].[Zonas] ON 

INSERT [dbo].[Zonas] ([ZonaId], [ZonaNombre], [Descripcion]) VALUES (1, N'Norte', N'Zona Norte')
INSERT [dbo].[Zonas] ([ZonaId], [ZonaNombre], [Descripcion]) VALUES (2, N'Oriente', N'Zona Oriente')
INSERT [dbo].[Zonas] ([ZonaId], [ZonaNombre], [Descripcion]) VALUES (3, N'Sur', N'Zona Sur')
SET IDENTITY_INSERT [dbo].[Zonas] OFF
ALTER TABLE [dbo].[Analisis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Analisis_dbo.Estudios_EstudioId] FOREIGN KEY([EstudioId])
REFERENCES [dbo].[Estudios] ([EstudioId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Analisis] CHECK CONSTRAINT [FK_dbo.Analisis_dbo.Estudios_EstudioId]
GO
ALTER TABLE [dbo].[AnalisisSucursales]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnalisisSucursales_dbo.Analisis_AnalisisId] FOREIGN KEY([AnalisisId])
REFERENCES [dbo].[Analisis] ([AnalisisId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnalisisSucursales] CHECK CONSTRAINT [FK_dbo.AnalisisSucursales_dbo.Analisis_AnalisisId]
GO
ALTER TABLE [dbo].[AnalisisSucursales]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AnalisisSucursales_dbo.Sucursales_SucursalId] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([SucursalId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnalisisSucursales] CHECK CONSTRAINT [FK_dbo.AnalisisSucursales_dbo.Sucursales_SucursalId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.Sucursales_SucursalId] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([SucursalId])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.Sucursales_SucursalId]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Citas_dbo.Analisis_AnalisisId] FOREIGN KEY([AnalisisId])
REFERENCES [dbo].[Analisis] ([AnalisisId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_dbo.Citas_dbo.Analisis_AnalisisId]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Citas_dbo.AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_dbo.Citas_dbo.AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Citas_dbo.Clientes_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([ClienteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_dbo.Citas_dbo.Clientes_ClienteId]
GO
ALTER TABLE [dbo].[Historicos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Historicos_dbo.Citas_CitaId] FOREIGN KEY([CitaId])
REFERENCES [dbo].[Citas] ([CitaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Historicos] CHECK CONSTRAINT [FK_dbo.Historicos_dbo.Citas_CitaId]
GO
ALTER TABLE [dbo].[TecnicoCitas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TecnicoCitas_dbo.Tecnicos_TecnicoId] FOREIGN KEY([TecnicoId])
REFERENCES [dbo].[Tecnicos] ([TecnicoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TecnicoCitas] CHECK CONSTRAINT [FK_dbo.TecnicoCitas_dbo.Tecnicos_TecnicoId]
GO
ALTER TABLE [dbo].[Tecnicos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tecnicos_dbo.Estudios_EstudioId] FOREIGN KEY([EstudioId])
REFERENCES [dbo].[Estudios] ([EstudioId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tecnicos] CHECK CONSTRAINT [FK_dbo.Tecnicos_dbo.Estudios_EstudioId]
GO
ALTER TABLE [dbo].[Tecnicos]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tecnicos_dbo.Sucursales_SucursalId] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([SucursalId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tecnicos] CHECK CONSTRAINT [FK_dbo.Tecnicos_dbo.Sucursales_SucursalId]
GO
