USE [HS_BI_WEB]
GO
/****** Object:  StoredProcedure [dbo].[GetOneCuestionarioMoral]    Script Date: 24/11/2016 08:43:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetOneCuestionarioMoral] --277
	@cLIENTE_ID	INT = 0
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @GRUPO_ID INT = (SELECT ISNULL(C.GRUPO_ID, 0)
							FROM	HS_CLIENTES C
							WHERE	C.CLIENTE_ID = @cLIENTE_ID),
			@gARANTIA_ID INT = 0

	SELECT	TOP 1
			@gARANTIA_ID = G.GARANTIA_ID
			FROM	HS_GARANTIAS G
			INNER	JOIN HS_CLIENTES C 
						ON C.CLIENTE_ID = G.CLIENTE_ID
			LEFT	JOIN HS_TIPO_CAMBIO_DIARIO T	
						ON	T.MONEDA_ID = G.MONEDA_ID 
						AND T.FECHA = (SELECT MAX(FECHA) FROM HS_TIPO_CAMBIO_DIARIO WHERE MONEDA_ID = G.MONEDA_ID)
			LEFT	JOIN HS_MONEDAS MON 
						ON G.MONEDA_ID = MON.MONEDA_ID
			LEFT	JOIN HS_TIPOS_GARANTIAS TG 
						ON TG.TIPO_GARANTIA = G.TIPO_GARANTIA
			WHERE	G.ESTATUS_GARANTIA = 'CO' 
			AND		((G.TIPO_GARANTIA = 'ESF'
					AND   G.GARANTIA_ID = (SELECT TOP 1 GARANTIA_ID FROM HS_GARANTIAS EF WHERE EF.CLIENTE_ID = G.CLIENTE_ID AND EF.TIPO_GARANTIA = 'ESF' AND EF.ESTATUS_GARANTIA = 'CO' 
					ORDER BY EF.GARANTIA_ID DESC))
					OR G.TIPO_GARANTIA != 'ESF')
			AND		EXISTS (SELECT	1
							FROM	HS_CLIENTES
							WHERE	CLIENTE_ID = G.CLIENTE_ID
							AND		CLIENTE_ID = @cLIENTE_ID
							UNION ALL
							SELECT	1
							FROM	HS_OBLIGADOS_SOLIDARIOS
							WHERE	CLIENTE_ID = @cLIENTE_ID
							AND		OBLIGADO_ID = G.CLIENTE_ID
							AND		OBLIGADO_ID != @cLIENTE_ID
							AND		@GRUPO_ID = 0
							UNION ALL
							SELECT	1
							FROM	HS_CLIENTES
							WHERE	CLIENTE_ID = G.CLIENTE_ID
							AND		CLIENTE_ID != @cLIENTE_ID
							AND		GRUPO_ID = @GRUPO_ID)
			AND		G.CLIENTE_ID = @cLIENTE_ID
			AND		G.TIPO_GARANTIA = 'ESF'
			ORDER	BY G.GARANTIA_ID DESC 

	SELECT	C.CLIENTE_ID,
			ISNULL(C.RAZON_SOCIAL, C.NOMBRE + ' '+ C.APELLIDO_PATERNO + ' '+ C.APELLIDO_MATERNO) AS 'NOMBE_CLIENTE',
			C.RFC,
			C.TELEFONO AS 'TELEFONO_OFICINA',
			'' AS 'TELEFONO_CELULAR',
			'' AS 'TELEFONO_PARTICULAR',
			C.CP AS 'CODIGO_POSTAL',
			C.CALLE + ' NUM. EXT. ' + CAST(ISNULL(C.NUMERO_EXTERIOR, 0 ) AS nvarchar) + ' NUM. INT. ' + CAST(ISNULL(C.NUMERO_INTERIOR, 0) AS nvarchar) AS 'DOMICILIO',
			C.COLONIA,
			C.DELEGACION,
			C.CIUDAD,
			E.NOMBRE AS 'NOMBRE_ESTADO',
			CASE C.NACIONALIDAD
				WHEN 'NAC' THEN 'NACIONAL'
				WHEN 'EXT' THEN 'EXTRANJERO'
			END AS 'NACIONALIDAD',
			C.EMAIL AS 'CORREO_PERSONAL',
			'' AS 'CORREO_OFICINA',
			'' AS 'DOCUMENTOS_ACREDITACION',
			'' AS 'OBTENCION_FIANZAS',
			'' AS 'ACTA_CONSTITUTIVA',
			ISNULL(G.NOMBRE, 'N/A') AS 'NOMBRE_GRUPO',
			0 AS 'NUMERO_EMPLEADOS',
			'' AS 'VOLUMEN_VENTAS',
			ISNULL(Z.NOMBRE, 'N/A') AS 'REPRESENTANTE_LEGAL',
			ISNULL(Y.NOMBRE, 'N/A') AS 'NOMBRE_CONTACTO',
			'' AS 'CARGO',
			'PMO' AS 'REGIMEN_FISCAL' ,
			@gARANTIA_ID AS 'GARANTIA_ID'
	FROM	HS_CLIENTES C
	LEFT	JOIN HS_ESTADOS E
				ON E.ESTADO_ID = C.ESTADO_ID
	LEFT	JOIN HS_GIROS G
				ON G.GIRO_ID = C.GIRO_ID
	LEFT	JOIN (SELECT	RL.CLIENTE_ID, RL.NOMBRE
					FROM	HS_REPRESENTANTES_LEGALES RL
					WHERE	REPRESENTANTE_ID = (SELECT	MAX(L.REPRESENTANTE_ID)
												FROM	HS_REPRESENTANTES_LEGALES L
												WHERE	L.CLIENTE_ID = RL.CLIENTE_ID
												GROUP	BY L.CLIENTE_ID)) Z
				ON Z.CLIENTE_ID = C.CLIENTE_ID
	LEFT	JOIN (SELECT	CC.CLIENTE_ID, CC.NOMBRE
					FROM	HS_CONTACTOS CC
					WHERE	CC.CONTACTO_ID = (SELECT	MAX(C.CONTACTO_ID)
												FROM	HS_CONTACTOS C
												WHERE	C.CLIENTE_ID = CC.CLIENTE_ID
												GROUP	BY C.CLIENTE_ID)) Y
				ON Y.CLIENTE_ID = C.CLIENTE_ID
	WHERE	C.CLIENTE_ID = @cLIENTE_ID
	SET NOCOUNT OFF
END
